model_config_list {
  config {
    name: "Effusion_model_resnet",
    base_path: "/models/Effusion_resnet",
    model_platform: "tensorflow"
  }
  config {
    name: "Effusion_model_densenet",
    base_path: "/models/Effusion_densenet",
    model_platform: "tensorflow"
  }
  config {
    name: "Effusion_model_vgg",
    base_path: "/models/Effusion_vgg",
    model_platform: "tensorflow"
  }
  config {
    name: "Effusion_model_inception",
    base_path: "/models/Effusion_inception",
    model_platform: "tensorflow"
  }
  config {
    name: "Effusion_model_self",
    base_path: "/models/Effusion_self",
    model_platform: "tensorflow"
  }
    config {
    name: "Cardiomegaly_model_resnet",
    base_path: "/models/Cardiomegaly_resnet",
    model_platform: "tensorflow"
  }
  config {
    name: "Cardiomegaly_model_densenet",
    base_path: "/models/Cardiomegaly_densenet",
    model_platform: "tensorflow"
  }
  config {
    name: "Cardiomegaly_model_vgg",
    base_path: "/models/Cardiomegaly_vgg",
    model_platform: "tensorflow"
  }
  config {
    name: "Cardiomegaly_model_inception",
    base_path: "/models/Cardiomegaly_inception",
    model_platform: "tensorflow"
  }
  config {
    name: "Cardiomegaly_model_self",
    base_path: "/models/Cardiomegaly_self",
    model_platform: "tensorflow"
  }
}
